body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* hero */
.hero-title {
    color: var(--primary-white-color);
}

/* Section */
.section-title {
    color: var(--primary-text-color);
}

/* advantages */
.advantages-list .title{
    color: var(--primary-text-color);
}

/* Team */
.team-list .title {
    color: var(--primary-text-color);
}

/* Button */
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}